body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
header {
    background-color: #00d7d0;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0097b5;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #003F7F;
}

.active {
    background-color: #003F7F;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #008bb5;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 1rem;
    }
}